.profile__edit-button{
    border: 1px solid white;
    margin-left: auto;
    width: 24px;
    height: 24px;
    background-color: black;
    background-image: url(../../../images/Edit-Button.png);
    background-repeat: no-repeat;
    outline: none;
    background-size:cover;
    margin-top: 16px;
}

.profile__edit-button:hover{
    opacity: .6;
}