.profile__edit-button{
    border: 1px solid white;
    width: 24px;
    height: 24px;
    background-color: black;
    align-self: center;
    background-image: url(../../../images/Edit-Button.png);
    background-repeat: no-repeat;
    width: 100%;
    outline: none;
    background-size: cover;
}

.profile__edit-button:hover{
    opacity: .6;
}