.profile{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  align-items: center;
  border: solid red;
}

@media screen  and (max-width: 1023px) {
    .profile{
      flex-direction: column;
      max-width: 282px;
      justify-content: center;
      margin: 0 auto;
 }
 }