.profile__add-button{
    outline: none;
    max-width: 150px;
    max-height: 50px; 
    background-color: black;
    border: 1px solid white;
    align-self: center;
    padding: 16px 64px;
}

.profile__add-button:hover{
    opacity: .6;
}