.profile__description{
  max-width: 336px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  white-space: nowrap;
  margin: 0;
  border: solid red;
}

@media screen  and (max-width: 1023px) {
    .profile__description{
     text-align: center;
     font-size: 14px;
     line-height: 17px;
     padding-bottom: 36px;
     width: 100%;
     margin: 0 auto;
    }
 }