.profile__info{
    max-width: 336px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: baseline;
    column-gap: 18px;
    margin-right: auto;
    row-gap: 6px;
}

@media screen  and (max-width: 1023px) {
    .profile__info{
      margin: 0 auto;
      max-width: 230px;
      column-gap: 0;
      padding-bottom: 36px;
      justify-content: flex-end;
      padding-left: 8px;
 }
 }