.card {
    max-width: 282px;
    width: 100%;
    min-height: 361px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0;
}